div
	form
		h2#title (╯°□°）╯︵ ┻━┻
		p#search
			input#searchBox(type="search", placeholder="Search")
		p#info Try searches like "What is John Bowe's email", "What is Bernie's office hours"

		div#question
		div#results
