div
	form
		p Searching urls:
		input#searchBox(type="text", placeholder="Search")
		p Try a few searches like "express", "mongodb"
		ul#results

		br

		p Searching sfu questions:
		input#nlpBox(type="text", placeholder="Search")
		p Try searches like "What is John Bowe's email", "What is Bernie's office hours"
		ul#nlpResults
		br