div
	form
		h2#title (╯°□°）╯︵ ┻━┻
		p#search Search:
			input#searchBox(type="text", placeholder="Search")
		p#info Try searches like "What is John Bowe's email", "What is Bernie's office hours"

		div#results
		div#logMsg
